<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  {% if login == True %}
  <h3>Success login</h3>
  <div>사용자 이메일 {{ email }}</div>
  <div>사용자 비밀번호 {{ password }}</div>
  <button class="logout">Logout</button>
  
  {% else %}
  <h3>로그인</h3>
  <form action="/login" method="post">
    <div>
      <input type="text" name="email">
    </div>
    <div>
      <input type="password" name="password">
    </div>
    <button>Login</button>
  </form>
  {% endif %}
<script src="{{ url_for("static", filename="./js/index.js") }}"></script>
</body>